<html>

<head>

<title>
</title>


</head>

<body>
	<h1>TESTING PERSON ID FETCH   {{u_id}}</h1>
	heeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
	{% for result in results %}
		{{result[0]}}<br>
		{{result[1]}}<br>
	{% endfor %}

	
	<form  method='POST'>
	
		RATING:- <input type='number' name='user_rating' step='0.1'><br>
		{% for b in results %}
		<input type='submit' value='SUBMIT' name='enter' formaction='/rate_update{{b[0]}}{{u_id}}'>
	`	<input type="submit" value="DOWNLOAD NOW" formaction='/download_file1{{b[0]}}'>
		<input type="submit" value="READ NOW" formaction='/download_file2{{b[0]}}'>
		{% endfor %}
	</form>


</body>

</html>
